.env
*.env.*

storage/generate_files/*
storage/privkeys/*
storage/tools/*
storage/upload_files/*

# Logs
logs
*.log*

# jetbrains
.idea
.mypy_cache
.ruff_cache

# venv
.venv

!api/services/jk
!api/services/jk/**

!api/controllers/console/__init__.py
!api/controllers/console/jk
!api/controllers/console/jk/**